.modal.fade{ role: "dialog", id: "artist-" + artist.id.to_s }
  = simple_form_for artist, url: artist_path(artist), :html => {:method => :put, :multipart => true, :class => 'form-horizontal' } do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h4 Edit Artist
        .modal-body
          = render partial: "form", locals: {f: f}
        .modal-footer
          = f.submit "Update", :class => "btn btn-primary"
          %a.btn.btn-default{"data-dismiss" => "modal", href: "#"} Cancel