<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Event Created</h1>
    <p>
      Hi,
    </p>
    <p>
      You received new event. please update the event.

      Thanks, <a href="http://concert-app.herokuapp.com">Concert Management site</a>
    </p>
  </body>
</html>